.allMenu_wrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1080px;
    bottom: 0;
    background-color: #fff;
    z-index: 99999999;
    box-sizing: border-box;
}
.allMenu_wrap .all_image {
	/* background-color: #d9d9d9; */
	background-image: url(../images/all5.png);
	width: 50%;
	height: 1080px;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.allMenu_wrap .all__title {
	height: 100%;
	position: relative;
	padding-top: 140px;
}
.allMenu_wrap .circle {
	width: 161px;
	height: 159px;
	position: absolute;
	background-image: url(../images/circle.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 44%;
	animation: circle 15s linear infinite;
}
.allMenu_wrap .k {
	width: 24px;
	height: 25px;
	position: absolute;
	background-image: url(../images/K.png);
	position: absolute;
	top: 0;
	top: 56%;
	left: 48%;
}
.allMenu_wrap .all__title .all__inner {
	width: 40%;
	height: 100%;
	margin-left: 162px;
}
.allMenu_wrap .all__title .all__inner > ul li .all1 {
	top: 140px;
	cursor: pointer;
	color: #929292;
}
.allMenu_wrap .all__title .all__inner > ul li .all1 .a_en {
	font-size: 60px;
	font-family: Cormorant Garamond;
	opacity: 0;
	font-weight: 400;
}
.allMenu_wrap .all__title .all__inner > ul li .all1 .a_ko {
	font-size: 50px;
	font-family: NotoSansKR;
	opacity: 1;
	font-weight: 400;
	position: absolute;
	left: 160px;
}
.allMenu_wrap .all__title .all__inner > ul li .all1 .a_en,
.allMenu_wrap .all__title .all__inner > ul li .all1 .a_ko {
    transition: opacity 0.3s ease; 
}
.allMenu_wrap .all__title .all__inner > ul li .all1.active .a_ko{
	opacity: 0; 
}
.allMenu_wrap .all__title .all__inner > ul li .all1:hover .a_en{
    opacity: 1;
	color: #000;
}
.allMenu_wrap .all__title .all__inner > ul li .all1:hover .a_ko{
    opacity: 0;
}
.allMenu_wrap .all__title .all2 {
    opacity: 0;
    display: none;
    position: relative;
	position: absolute;
	left: 25%;
	display: flex;
}
.allMenu_wrap .all__title .all2.active {
    opacity: 1;
    display: block;
}
.allMenu_wrap .all__title .all2::before {
    content: '';
    display: block;
    width: 35px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 20%;
	top: -35px;
	
}
.allMenu_wrap .all__title .all2 li {
	font-size: 18px;
	margin-bottom: 8px;
	height: auto;
	font-family: NotoSansKR;
	color: #000;
	font-weight: 500;
	margin-top: -50px;
	padding-left: 80px;
}
.allMenu_wrap .all__title .all2 li a {
	position: relative;
	margin-bottom: 8px;
}
.allMenu_wrap .all__close {
	width: 120px;
	height: 50px;
	z-index: 9999999;
	position: absolute;
	right: 40px;
	top: 60px;
	transform: translateY(-50%);
	border-radius: 50%;
	border: 1px solid #000000;
	font-family: "Cormorant Garamond";
	text-align: center;
	color: #000000;
	cursor: pointer;
}
.allMenu_wrap .all__close::before {
	content: "Close";
	font-size: 20px;
	line-height: 2.5;
}
.allMenu_wrap .all__desc .all__text{
	font-size: 40px;
	color: #000;
	font-weight: 500;
	font-family: NotoSansKR;
	position: absolute;
	top: 60%;
	left: 162px;
}
.allMenu_wrap .all__desc .all__sns {
	color: #7b7b7b;
	font-size: 15px;
	position: absolute;
	top: 72%;
	left: 150px;
	width: 30%;
}
.allMenu_wrap .all__desc .all__sns ul li {
	padding: 0 15px;
	float: left;
	position: relative;
}
.allMenu_wrap .all__desc .all__sns ul li:last-child::after {
	content: none; 
	padding-right: 0;
}
.allMenu_wrap .all__desc .all__sns ul li::after {
	content: '';
	display: block;
	width: 2.5px;
	height: 2.5px;
	border-radius: 50%;
	background-color: #7b7b7b;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(50%, -50%);
}
.allmo {
	display: none;
}
@media(max-width:1280px) {
	.allMenu_wrap .allmo {
		display: block;
		background-image: url(../images/allmo.png);
		width: 100%;
		height: 150px;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
	}
	.allMenu_wrap {
		width: 100%;
		height: auto;
	}
	.all_image {
		display: none;
	}
	.allMenu_wrap .all__title {
		width: calc(100% - 40px);
		height: auto;
		margin: 0 auto;
		padding-top: 80px;
	}
	.allMenu_wrap .all__title .all__inner {
		margin-left: 0;
	}
	.allMenu_wrap .all__title .all__inner > ul li .all1 .a_en {
		font-size: 30px;
	}
	.allMenu_wrap .all__title .all__inner > ul li .all1 .a_ko {
		font-size: 30px;
		font-weight: 400;
		left: 0;
	}
	.allMenu_wrap .all__close {
		right: 20px;
		top: 40px;
		width: 96px;
		height: 40px;
	}
	.allMenu_wrap .all__close::before {
		font-size: 14px;
	}
	.allMenu_wrap .all__desc .all__sns {
		font-size: 14px;
		width: 100%;
		position: sticky;
		position: absolute;
		left: 5px;
		z-index: 99;
		color: #fff;
		margin-top: 114px;
	}
	.allMenu_wrap .all__desc .all__text {
		font-size: 18px;
		color: #fff;
		left: 20px;
		top: 80%;
		z-index: 99;
	}
	.allMenu_wrap .circle {
		margin-left: 30px;
		right: 0;
		z-index: 9;
		top: 40%;
	}
	.allMenu_wrap .k {
		margin-left: 85px;
		margin-top: -35px;	
	}
	.allMenu_wrap .all__title .all2 {
		left: 35px;
	}
	.allMenu_wrap .all__title .all2::before {
		left: -35px;
		top: 12px;
		width: 24px;
	}
	.allMenu_wrap .all__title .all2 li {
		margin-top: 0;
		padding-left: 0;
		font-size: 12px;
	}
	.allMenu_wrap .all__title .all__inner > ul li {
		height: 40px;
		margin-bottom: 40px;
	}
}