@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter&family=Roboto:wght@300&display=swap");
* {
	margin: 0;
	padding: 0;
}
#wrap {
	width: 100%;
	height: auto;
}

br.pc {
	display: block;
}
#section {
	width: 100%;
	height: auto;
	font-family: NotoSansKR;
	padding-top: 85px;
}
#section .none {
	font-size: 12px;
}
#section .none span {
	color:#939393 ;
	position: relative;
	padding: 0 15px 15px 0px;
}
#section .none span::before {
	content: "";
	width: 10px;
	height: 1px;
	background-color: #939393;
	position: absolute;
	top: 8px;
	left: 50px;
}
#section h1 {
	font-size: 110px;
	font-family: NotoSansKR;
	text-align: center;
	font-weight: normal;
}
#section .b2b {
	padding-top: 24px;
	font-size: 18px;
	font-family: NotoSansKR;
	font-weight: 400;
	text-align: center;
}
#section .container {
	width: calc(100% - 326px);
	height: auto;
	margin: 0 auto;
	background-color: #fcfcfc;
	margin-top: 60px;
}
#section .container .buy__wrap {
	width: calc(100% - 212px);
	height: auto;
	margin: 0 auto;
}
#section .container .buy__wrap .one {
	display: flex;
	justify-content: space-between;
	padding-bottom: 35px;
	padding-top: 81px;
}
#section .container .buy__wrap .one .select {
	width: 100%;
	height: 60px;
	margin-right: 42px;
	background: #ffff;
}
#section .container .buy__wrap .one .select select {
	width: 100%;
	height: 60px;
	padding: 20px;
	/* padding: .8em .5em; */
	background: url('../images/arrow3.png') no-repeat 95% 50%;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#section .container .buy__wrap .one .work {
	width: 100%;
	height: 60px;
	background: #ffff;
}
#section .container .buy__wrap .one .work #youWork {
	width: 100%;
	
}
input {
	border: 1px solid #d1d1d1;
	
}
#section .container .buy__wrap .one input {
	border: 1px solid #d1d1d1;
	width: 100%;
	height: 60px;
	
}
#section .container .buy__wrap .one select {
	border: 1px solid #d1d1d1;
	width: 100%;
	height: 60px;
	
}
.inputStyle {
	font-size: 16px;
}
::placeholder {
	font-size: 16px;
	color: #939393;
	padding-left: 20px;
}
.container .buy__wrap .two {
	display: flex;
	justify-content: space-between;
	padding-bottom: 35px;

}
.container .buy__wrap .two .number {
	width: 50%;
	height: 60px;
	display: flex;
	
}
.container .buy__wrap .two .number input {
	width: 100%;
	height: 60px;
	margin-right: 15px;
	background: #ffff;

}
.container .buy__wrap .two .number a {
	display: block;
	width: 100%;
	height: 60px;
	text-align: center;
	color: #fff;
	background-color: #939393;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .buy__wrap .two .address{
	width: 100%;
	padding-left: 43px;
}
.container .buy__wrap .two .address input {
	width: 100%;
	height: 60px;
	background: #ffff;

}
.container .buy__wrap .three {
	display: flex;
	justify-content: space-between;
	padding-bottom: 35px;

}
.container .buy__wrap .three .name {
	width: 100%;
	height: 60px;
	margin-right: 42px;
}
.container .buy__wrap .three .phone {
	width: 100%;
	height: 60px;
}
#section .container .buy__wrap .three input {
	border: 1px solid #d1d1d1;
	width: 100%;
	height: 60px;
	background: #ffff;

}
.container .buy__wrap .four .question {
	height: 266px;
	padding-bottom: 35px;
}
#section .container .buy__wrap .four textarea {
	border: 1px solid #d1d1d1;
	width: 97%;
	height: 266px;
	background: #ffff;
	font-size: 16px;
	color: #939393;
	padding: 20px 20px;
}
#section .container .buy__wrap .five .term__content {
	font-size: 16px;
	border: 1px solid #d1d1d1;
	margin-bottom: 20px;
	padding: 37px 30px;
	color: #636363;
	overflow-y: scroll;
	height: 266px;
	background: #ffff;
	margin-top: 35px;

}
#section .container .buy__wrap .five .term__content label {
	display: block;
	margin-bottom: 5px;
	
}
#section .container .buy__wrap .five .term__content span {
	font-size: 16px;
}
.container .buy__wrap .six .auto {
	/* width: 100%; */
	height: 178px;
	margin-top: 45px;
	border: 1px solid #D1D1D1;
	background: #ffff;

}
.container .buy__wrap .six .auto p {
	text-align: center;
	padding-top: 78px;
	font-weight: 500;
}
.term__content::-webkit-scrollbar {
    width: 8px;
	background: #F7F7F7;
}
.term__content::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #E1E1E1; 
}
#section .container .buy__wrap .six input {
	border: 1px solid #d1d1d134;
	width: 100%;
	height: 266px;
	
}
.btnStyle {
	display: block;
	color: #000;
	margin: 80px auto;
	font-size: 16px;
	padding: 10px 50px;
	cursor: pointer;
	border: 2px solid #000;
	font-family: NotoSansKR;
}
.buy {
	width: 100%;
	height: 149px;
	/* margin-top: 120px; */
	margin-bottom: 240px;
	font-family: NotoSansKR;
}
.buy ul {
	border: 1px solid #d8d8d8;
	border-right: none;
	border-left: none;
	padding: 40px 0;
	display: flex;
}
.buy ul li {
	width: 100%;
	padding-left: 131px;
	position: relative;
}
.buy ul li::before {
	content: "";
	width: 1px;
	height: 93px;
	background-color: #d8d8d8;
	position: absolute;
	right: 0px;
	top: -10px;
}
.buy ul li:last-child::before {
	display: none;
}
.buy ul li a {
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 13px;
	position: relative;
}
.buy ul li a::before {
	content: '';
	position: absolute;
	left: 1px;
	top: 10px;
	width: 4px;
	height: 4px;
	border-radius: 50px;
	background-color: #000;
}
.buy ul li a p {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 17.5px;
	width: 100px;
}
.buy .container1 ul li a {
	font-size: 16px;
	width: 350px;
}
#section .container1 {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 116px;
	background: #fff;
}
#section .none {
	display: none;
}
@media (max-width:1280px) {
	#section .none {
		/* padding-top: 36px; */
		display: block;
		text-align: center;

	}
	br.pc {
		display: none;
	}
	#section {
		width: 100%;
		height: 2200px;
		padding-top: 36px;
	}
	#section h1 {
		font-size: 45px;
	}
	#section p {
		/* padding-top: 20px; */
		font-size: 16px;
		margin-left: 8px;
	}
	#section .container {
		width: calc(100% - 40px);
		margin: 0 auto;
		height: 1500px;
		background-color: #F9F9F9;
	}
	.buy ul li a::before  {
		position: absolute;
		top: 10px;
	}
	#section .container .buy__wrap {
		width: 100%;
	}
	#section .container .buy__wrap .one {
		display: block;
		padding-top: 40px;
		padding-bottom: 10px;
	}
	#section .container .buy__wrap .one .select {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	#section .container .buy__wrap .one .select option {
	}
	.container .buy__wrap .two {
		display: block;
		padding-bottom: 10px;
	}
	.container .buy__wrap .two .number {
		width: 100%;
		margin-bottom: 10px;
	}
	.container .buy__wrap .two .address {
		width: 100%;
		padding-left: 0;
	} 
	.container .buy__wrap .three {
		display: block;
		padding-bottom: 10px;
	}
	.container .buy__wrap .three .name {
		margin-bottom: 10px;
	}
	.container .buy__wrap .four {
		width: 90%;
		padding-bottom: 10px;
	}
	.container .buy__wrap .four .question{
		padding-bottom: 10px;
		width: 100%;
	}
	#section .container .buy__wrap .five .term__content {
		padding: 20px 20px;
		font-size: 14px;

	}
	#section .container1 {
		width: 100%;
		height: auto;
		margin: 0 auto;
		/* margin-top: 60px; */
		padding: 0;
	}
	.buy ul li::before {
		display: none;
	}
	.buy {
		width: 100%;
	}
	.buy ul {
		display: block;
		padding: 0;
		padding-top: 20px;
	}
	.buy ul li {
		padding-left: 0;
		border-right: none;
		border-bottom: 1px solid #D8D8D8;
		padding-bottom: 20px;
	}
	.buy ul li:last-child {
		border-bottom: none;
	}
	.buy ul li a  {
		padding-left: 0;
	}

	.buy ul li a p {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.buy ul li a span {
		font-size: 14px;
		margin-left: 10px;
	}
	.btnStyle {
		margin-top: 40px;
	}
}