footer {
	position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
    font-size: 14px;
    color: #161616;
	font-family: NotoSansKR;
}
footer .arrow2 {
	position: absolute;
    right: 40px;
    top: -50px;
}
footer .footer_container {
	width: calc(100% - 80px);
	height: auto;
	margin: 0 auto;
	display: flex;
	padding-top: 108px;
}

/* dOSpspspspspsp */
footer .footer_container .circle {
    width: 161px;
    height: 159px;
    position: relative;
    background-image: url(../images/circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 108px;
    right: 27px;
    animation: circle 15s linear infinite;
}

footer .footer_container .k {
    width: 24px;
    height: 25px;
    position: absolute;
    background-image: url(../images/K.png);
    background-repeat: no-repeat;
    background-size: cover;
	top: 181px;
    right: 4.2%; 
    transform: translate(-50%, -50%);
}
@keyframes circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
footer .footer_container .foot__text {
	font-size: 40px;
	font-family: NotoSansKR;
	font-weight: 500;
}
footer .foot__logo {
	padding-top: 80px;
	padding-bottom: 80px;
}
footer .footer__desc {
	display: flex;
	font-size: 17px;
	line-height: 1.5;
	color: #000;
	font-family: NotoSansKR;
	font-weight: bold;
	margin-left: 586px;
}
footer .footer__desc .f__title{
	position: relative;
	display: block;
	padding-right: 163px;
	line-height: 1.8;
}
footer .footer__desc .f__inner{
	position: relative;
	display: block;
}
/* 여기까지 */

footer .fo__cont2 {
	width: calc(100% - 80px);
	margin: 0 auto;
	display: flex;
}
footer .fo__cont2 .sns {
    color: #7b7b7b;
    font-size: 20px;
	font-family: NotoSansKR;
	padding-left: 47%;
	padding-top: 140px;
}
footer .fo__cont2 .sns ul li {
	padding: 0 15px;
	float: left;
	position: relative;
}
footer .fo__cont2 .sns ul li:last-child::after {
    content: none; 
}
footer .fo__cont2 .sns ul li::after {
	content: '';
    display: block;
    width: 2.5px;
    height: 2.5px;
    border-radius: 50%;
    background-color: #7b7b7b;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}
footer .fo__cont2 .pri {
	position: absolute;
	right: 20px;
	bottom: 30%;
	text-align: right;
	font-size: 17px;
	font-weight: bold;
	
}
footer .fo__cont2 .pri .privacy .pinfo {
	font-size: 17px;
	font-family: NotoSansKR;
	padding-bottom: 15px; 
    margin-left: 60px;
}
footer .fo__cont2 .pri .privacy {
	text-align: center;

}
footer .fo__cont2 .pri ul {
	margin-top: 15px;
}
footer .fo__cont2 .pri li {
	float: left;
	display:inline;
	border-left: none;
	border-right: 2px solid #000;
	padding-left: 20px;
	padding-right: 20px;
	font-family: NotoSansKR;
}
footer .fo__cont2 .pri li:last-child {
	border-right: none;
}
footer .copyri {
	width: 100%;
    background-color: #000;
    color: #fff;
	height: 61px;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    font-weight: 300;
	font-family: NotoSansKR;
	
}

@media (max-width:1280px) {
	footer {
		width: 100%;
		
	}
	footer .footer_container {
		width: calc(100% - 40px);
		padding-top: 0;
		display: block;
	}
	footer .footer_container .foot__text {
		font-size: 23px;
		padding-top: 30px;
		font-family: NotoSansKR;
		
	}
	footer .footer_container .circle {
		position: sticky;
		position: absolute;
		top: 45%;
		right: 20px;
		width: 61px;
		height: 60px;
	}
	footer .footer_container .k {
		width: 9px;
		height: 9px;
		position: sticky;
		position: absolute;
		top: 53%;
		right: 41px;
	}
	footer .footer_container .footer__desc {
		margin-left: 0;
		font-family: NotoSansKR;

	}
	footer .footer_container .footer__desc .f__inner {
		display: block;
		font-size: 14px;
		padding-top: 20px;
		font-weight: 400;
	}
	footer .footer_container .footer__desc .footer__inner1 {
		display: none;
	}
	footer .footer_container .footer__desc .f__title{
		display: none;
	}
	footer .fo__cont2 {
		width: calc(100% - 40px);
		height: 110px;
	}
	footer .fo__cont2 .foot__logo {
		display: none;
	}
	footer .fo__cont2 .sns {
		font-size: 14px;
		padding: 20px 0px 10px 0px;
		margin-left: -15px;
		width: 100%;
		font-family: NotoSansKR;
	}
	footer .fo__cont2 .pri {
		right: 45px;
		bottom: 50px;
		margin-bottom: 27px;
		width: 100%;
	}
	footer .fo__cont2 .pri .privacy {
		display: flex;
		font-size: 14px;
	}
	footer .fo__cont2 .pri .privacy .pinfo{
		font-size: 14px;
		padding: 1px 5px 0px 5px;
		position: relative;
		
	}
	footer .fo__cont2 .pri .privacy .pinfo::before {
		content: "";
		width: 1px;
		height: 10px;
		background-color: black;
		position: absolute;
		right: 0;
		top: 5px;
	}
	footer .fo__cont2 .pri li {
		height: 15px;
		border-right: 1px solid #000;
		padding: 1px 5px 0px 5px;
		font-family: NotoSansKR;
		border-right: none;
		position: relative;
	}
	footer .fo__cont2 .pri li::before {
		content: "";
		width: 1px;
		height: 10px;
		background-color: black;
		position: absolute;
		right: 0;
		top: 5px;
	}
	footer .fo__cont2 .pri .pri2 li:last-child::before {
		display: none;
	}
	footer .copyri {
		width: 100%;
		font-size: 12px;
		height: 40px;
	}
	footer .copyri .copy {
		font-size: 12px;
		line-height: 3;
	} 
	
}